<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>task_5</title>
  </head>
  <body>
    <main class="page1">
      <div class="page1__container">
        <h2>Задача №5</h2>
        <p class="text">
          Додаток містить масив об’єктів (логін, пароль) -- інсуючі логіни і
          паролі. Користувач вводить логін і пароль, а програма повідомляє чи
          може користувач бути авторизованим (чи є він одним з масиву).
        </p>
        <div class="page__task task task-page" id="app5">

          <div class="task__line">
            <label for="input"><p>Login :</p></label>
            <input
              autocomplete="off"
              type="text"
              id="input"
              v-model="userLogin"
              class="task__input task__input--5"
            />
          </div>
          <div class="task__line">
            <label for="userPassword"><p>Password :</p></label>
            <input
              autocomplete="off"
              type="password"
              id="userPassword"
              v-model="userPassword"
              class="task__input task__input--5"
            />
          </div>
          <button type="submit" @click="checkUserData" class="button button-task5">
            Ввести
          </button>
          <div class="page__result result">
            <div :class="color">{{message}}</div>
          </div>
        </div>
        <script src="scriprt5.js"></script>
      </div>
    </main>
  </body>
</html>
